<div class="contents row">
  <div class="containers">
    <h3>投稿する</h3>
    <%= form_with model: @car, local: true do |f| %>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">車の名前</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :car_name, class:"input-default", id:"car_name", placeholder:"車種" %>
      </div>
      </div class="form-group">
        <div class="form-text-wrap">
          <label class="form-text">画像</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.file_field :image, class:"input-default", id:"image"%>
      </div>
      <div class="form-group">
        <div class='form-text-wrap'>
          <label class="form-text">text</label>
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"input-default", id:"text", placeholder:"こだわりポイント" %>
      </div>
      <div class="actions">
        <%= f.submit "新規投稿" %>
      </div>
    <% end %>
  </div>
</div>